    * {margin:0; padding:0px; box-sizing: border-box;}
    body{
      /* padding:15px; */
      background-image: url("./images/bg-pattern-desktop.svg");
      background-size: 65%;
      /* font-size: 16px; */
      font-family: 'Josefin Sans', sans-serif;
    }
    body h1 {
      
      letter-spacing: 15px;
      
      word-wrap: break-word;
    }
    body h1 div:first-child {
      color: hsl(0, 36%, 70%);
      font-weight: 300;
    }
    body p {
        font-size: 1.2rem;
        margin: 15px 0;
        color: hsl(0, 36%, 70%);
        line-height: 1.5rem;
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    
    @media screen and (max-width: 700px) {
        #bannerImg {
          background: url(./images/hero-mobile.jpg) no-repeat center top; 
          background-size: contain; 
          width: 100vw;
          height: 375px;
          margin:-10px;

        }
        #landing1 {
            text-align: center;
        }
        
      }
      @media screen and (min-width: 700px) {
        body  {
          padding-left:10%;
        }
        body h1 {
          font-size: 4vw;
        }
        #bannerImg {
          background: url(./images/hero-desktop.jpg) no-repeat right top; 
          background-size: contain; 
          display:inline-block;
          min-height:95vh; 
          min-width: 40vw;
          float: right;
          margin-top: -80px;
        }
        #landing1 {
          float: left;
          display: inline-block;
          width: 50%;
          margin-top: 10vh;
        }
        footer {
          clear: both;
        }
        .logo {
            position: relative;
            top: 3vh;
        }
        


      }
      
      header {
        padding: 20px;
        
      }
      .form-wrapper {
          border-radius: 2rem;
          display: inline-block;
          border: solid hsl(0, 36%, 70%) 1px;
          width: 400px;
          height: 55px;
          margin-top: 40px;
      }
      input[type="email"]::placeholder {
        color: hsl(0, 36%, 70%);
      }
      input[type="email"]  {
        height: 55px;
          
          border: none;
          background-color: transparent;
          
          font-family: 'Josefin Sans', sans-serif;
          width: 300px;
          padding-left: 30px;
          margin: 0;
                    
      }
      form button  {
        height: 55px;
        
        border: none;
        
        border-radius: 2rem;
        width:92px;
        padding: 0;
        margin:0;
        background-image: linear-gradient(hsl(0, 80%, 86%),hsl(0, 74%, 74%));
      }
     

      