* {margin:0; padding:5px;}
    body{
      /* padding:15px; */
      background-image: url("./images/bg-pattern-desktop.svg");
      background-size: 65%;
      font-size: 16px;
      
    }
    body h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: unset;
      
      word-wrap: break-word;
    }
    body h1 div:first-child {
      color: hsl(0, 36%, 70%)
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    
    @media screen and (max-width: 675px) {
        #bannerImg {
          background: url(./images/hero-mobile.jpg) no-repeat center top; 
          background-size: contain; 
          width: 100vw;
          height: 375px;
          margin:-10px;

        }
        
      }
      @media screen and (min-width: 675px) {
        body  {
          padding-left:10%;
        }
        body h1 {
          font-size: 3vw;
        }
        #bannerImg {
          background: url(./images/hero-desktop.jpg) no-repeat right top; 
          background-size: contain; 
          display:inline-block;
          min-height:93vh; 
          min-width: 35vw;
          float: right;
          margin-top: -100px;
        }
        #landing1 {
          float: left;
          display: inline-block;
          width: 50%;
          margin-top: 20vh;
        }
        footer {
          clear: both;
        }


      }
      
      header {
        padding: 20px;
        
      }
      #landing1 {
        
        text-align: center;
      }